{% extends 'AlexBundle::index.html.twig' %}

{% block body %}
    <div class="container editForm">
        <h1>{{ 'pays.edit.title'|trans }} '{{ pays.nom }}'</h1>
        {{ form_start(formEditPays) }}
            {{ form_widget(formEditPays.nom) }}
            <div>
                {{ form_widget(formEditPays.drapeau) }}
            </div>
        {{ form_end(formEditPays) }}
    </div>
{% endblock %}