{% extends 'AlexBundle::index.html.twig' %}

{% block body %}
    <h1>{{ pays.nom }}</h1>
    {{ form_start(form) }}
        {{ form_widget(form.nom) }}
        <img src="{{ asset('images/uploads/drapeaux/'~pays.drapeau) }}" />
    {{ form_end(form) }}
{% endblock %}