{% extends 'AlexBundle::index.html.twig' %}

{% block body %}
    <h1>Editer le pays '{{ pays.nom }}'</h1>
    {{ form_start(formEditPays) }}
        {{ form_widget(formEditPays.nom) }}
        <div>
            <img src="{{ asset('images/uploads/drapeaux/'~pays.drapeau) }}" />
            {{ form_widget(formEditPays.drapeau) }}
        </div>
    {{ form_end(formEditPays) }}
{% endblock %}