{% extends 'AlexBundle::index.html.twig' %}
{% block body %}
    <div class="container">
    <h1>{{ 'pays.title'|trans }}</h1>

    <div class="button" id="jsOpenModalCreatePays">{{ 'pays.add'|trans }}</div>

    <table>
        <thead>
            <tr>
                <th>{{ 'table.country'|trans }}</th>
                <th>{{ 'table.flag'|trans }}</th>
                <th>{{ 'table.action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for pays in listePays %}
            <tr>
                <td>{{ pays.nom }}</td>
                <td><img src="{{ asset('images/uploads/drapeaux/'~ pays.drapeau) }}"></td>
                <td>
                    <a href="{{ path('pays_delete', { 'id' : pays.id } )}}">{{ 'table.action.delete'|trans }}</a>
                    <a href="{{ path('pays_edit', { 'id' : pays.id } )}}">{{ 'table.action.edit'|trans }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="modal">
        {{ form_start(nouveauPays) }}
        {{ form_end(nouveauPays) }}
    </div>
{% endblock %}