{% extends 'AlexBundle::index.html.twig' %}

{% block body %}
    <div class="container editForm">
        <h1>{{ 'discipline.edit.title'|trans }} '{{ discipline.nom }}'</h1>
        {{ form_start(formEditDiscipline) }}
            {{ form_widget(formEditDiscipline.nom) }}
        {{ form_end(formEditDiscipline) }}
    </div>
{% endblock %}