{% extends 'AlexBundle::index.html.twig' %}
{% block body %}
    <div class="container">
        <h1>{{ 'disciplines.title'|trans }}</h1>

        <div class="button" id="jsOpenModalCreatePays">{{ 'discipline.add'|trans }}</div>

        <table>
            <thead>
            <tr>
                <th>{{ 'table.discipline'|trans }}</th>
                <th>{{ 'table.action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for discipline in listeDisciplines %}
                <tr>
                    <td>{{ discipline.nom }}</td>
                    <td>
                        <a href="{{ path('discipline_delete', { 'id' : discipline.id } )}}">{{ 'table.action.delete'|trans }}</a>
                        <a href="{{ path('discipline_edit', { 'id' : discipline.id } )}}">{{ 'table.action.edit'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal">
        {{ form_start(formNvDiscipline) }}
        {{ form_end(formNvDiscipline) }}
    </div>
{% endblock %}