{% extends 'AlexBundle::index.html.twig' %}

{% block body %}
    <div class="container editForm">
        <h1>{{ 'athlete.edit.title'|trans }} '{{ athlete.prenom }} {{ athlete.nom }}'</h1>
        {{ form_start(formEditAthlete) }}
            <div>
                {{ form_widget(formEditAthlete.photo) }}
            </div>
            <div>
                {{ form_widget(formEditAthlete.prenom) }}
            </div>
            {{ form_widget(formEditAthlete.nom) }}
            {{ form_widget(formEditAthlete.dateNaissance) }}
            {{ form_widget(formEditAthlete.pays) }}
            <div>
                {{ form_widget(formEditAthlete.discipline) }}
            </div>
        {{ form_end(formEditAthlete) }}
    </div>
{% endblock %}