{% extends 'AlexBundle::index.html.twig' %}
{% block body %}
    <div class="container">
        <h1>{{ 'athletes.title'|trans }}</h1>

        <div class="button button--transp jsModalCreateAthlete">{{
            'athlete.add'|trans }}</div>

        <table>
            <thead>
            <tr>
                <th>{{ 'table.picture'|trans }}</th>
                <th>{{ 'table.firstname'|trans }}</th>
                <th>{{ 'table.lastname'|trans }}</th>
                <th>{{ 'table.birthday'|trans }}</th>
                <th>{{ 'table.country'|trans }}</th>
                <th>{{ 'table.discipline'|trans }}</th>
                <th class="action">{{ 'table.action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for athlete in listeAthletes %}
                <tr>
                    <td><img src="{{ asset('images/uploads/photos/'~ athlete.photo) }}"></td>
                    <td>{{ athlete.prenom }}</td>
                    <td>{{ athlete.nom }}</td>
                    <td>{{ athlete.dateNaissance|date("d/m/Y") }}</td>
                    <td><img src="{{ asset('images/uploads/drapeaux/'~ athlete.pays.drapeau) }}"></td>
                    <td>{{ athlete.discipline.nom }}</td>
                    <td>
                        <a href="{{ path('athlete_delete', { 'id' : athlete.id } )}}">{{ 'table.action.delete'|trans }}</a>
                        <a href="{{ path('athlete_edit', { 'id' : athlete.id } )}}">{{ 'table.action.edit'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal" id="jsModalCreateAthlete">
        <div class="close">X Fermer</div>
        <h2>{{ 'athlete.modal.title'|trans }}</h2>
        {{ form_start(formNvAthlete) }}
        {{ form_end(formNvAthlete) }}
    </div>
{% endblock %}