{% extends 'AlexBundle::index.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Liste des athlètes</h1>

        <div class="button" id="jsOpenModalCreateAthlete">Ajouter un athlète ?</div>

        <table>
            <thead>
            <tr>
                <th>Photo</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Date de naissance</th>
                <th>Pays</th>
                <th>Discipline</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for athlete in listeAthletes %}
                <tr>
                    <td><img src="{{ asset('images/uploads/photos/'~ athlete.photo) }}"></td>
                    <td>{{ athlete.prenom }}</td>
                    <td>{{ athlete.nom }}</td>
                    <td>{{ athlete.dateNaissance|date("d/m/Y") }}</td>
                    <td><img src="{{ asset('images/uploads/drapeaux/'~ athlete.pays.drapeau) }}"></td>
                    <td>{{ athlete.discipline.nom }}</td>
                    <td>
                        <a href="{{ path('athlete_delete', { 'id' : athlete.id } )}}">Supprimer</a>
                        <a href="{{ path('athlete_edit', { 'id' : athlete.id } )}}">Editer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal">
        {{ form_start(formNvAthlete) }}
        {{ form_end(formNvAthlete) }}
    </div>
{% endblock %}