<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} JO2024 {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/main.css') }}" />
</head>
<body>
<div class="modal-bg"></div>
<header class="main-header">
    <ul class="main-header__list">
        <li class="main-header__list__item"><a class="main-header__list__item__link" href="{{
            path('pays_list') }}">{{ 'menu.country'|trans }}</a></li>
        <li class="main-header__list__item"><a class="main-header__list__item__link" href="{{
            path('disciplines_list') }}">{{ 'menu.disciplines'|trans }}</a></li>
        <li class="main-header__list__item"><a class="main-header__list__item__link" href="{{
            path('athletes_list') }}">{{ 'menu.athletes'|trans }}</a></li>
    </ul>
</header>

{% block body %}{% endblock %}

<div class="block-alert">
{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert--success" role="alert">
        {#<div class="close">X Fermer</div>#}
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert--error" role="alert">
        {#<div class="close">X Fermer</div>#}
        {{ flashMessage }}
    </div>
{% endfor %}
</div>


<footer class="main-footer">
    <p>{{ 'copyright'|trans }}</p>
</footer>

<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="{{ asset('dist/js/main.js') }}"></script>
</body>
</html>