<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} JO2024 {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/main.css') }}" />
</head>
<body>
<header class="main-header">
    <ul class="main-header__list">
        <li class="main-header__list__item"><a class="main-header__list__item__link" href="{{ path('pays_list') }}">Liste des pays</a></li>
        <li class="main-header__list__item"><a class="main-header__list__item__link" href="{{ path('disciplines_list') }}">Liste des disciplines</a></li>
        <li class="main-header__list__item"><a class="main-header__list__item__link" href="{{ path('athletes_list') }}">Liste des athletes</a></li>
    </ul>
</header>

{% block body %}{% endblock %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success" role="alert">
        {{ flashMessage }}
    </div>
{% endfor %}

<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="{{ asset('dist/js/main.js') }}"></script>
</body>
</html>