{% extends 'AlexBundle::index.html.twig' %}

{% block body %}
    <div class="container editForm">
        <h1>{{ 'ville.edit.title'|trans }} '{{ ville.nom }}'</h1>
        {{ form_start(formEditVille) }}
        {{ form_widget(formEditVille.nom) }}
        {{ form_end(formEditVille) }}
    </div>
{% endblock %}